body {
    background-color: #42d12c4f;
    color: #4684c1a1;
    font-size: 2rem;
    font-weight: 500;
    line-height: .5;
    margin: 2;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 98%;
}


button, input[type="submit"] {
    background-color: #fae2ff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    padding: 1.5rem 1.5rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}


button, input[type="submit"]:hover:enabled{
	background-color: #1ff249;
}

input[type="text"] {
  	font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;

}

input[type="text"]:hover, input[type="number"]:hover {
    background-color: #fae2ff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
}

table th 
{
		background-color: #E8F1FF;
		padding: 0.25rem;
    vertical-align: middle;
}

table td{
	background-color: #a35bc7d8;
}

td.footer{
	background-color:#fae2ff;
	font-size: .75rem;
	padding: 0.75rem;
	font-family:Roboto,arial,sans-serif;
	color: #70757a;
}

td.footer a{
	color:#70757a;
	text-decoration: none;
}

td.footer a:hover{
	text-decoration: underline;
}